.container {
    width: 100%;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3px;
    padding-right: 14px;

    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 40px;

    background-color: var(--background);

    &:hover {
        opacity: .8;
    }
}

.noToken {
    background-color: var(--action);
}

.image {
    display: flex;

    margin-right: 12px;
}

.token {
    display: flex;
    align-items: center;
}

.info {
    &Symbol {
        font-size: 18px;
        font-weight: 500;

        color: #fff;

        margin-bottom: 4px;
    }

}

.right {
    display: flex;
    align-items: center;
}

.balance {
    font-size: 12px;

    text-align: right;

    & div:first-child {
        margin-bottom: 2px;
    }
}

.angle {
    display: flex;

    margin-left: 10px;
}