.container {
    cursor: pointer;
    display: flex;
    align-items: center;

    width: fit-content;

    padding: 7px 6px;

    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 20px;

    background-color: var(--background);

    font-size: 18px;
    font-weight: 500;

    &:hover {
        opacity: .8;
    }
    
    color: #fff;
}

.noToken {
    background-color: var(--action);
}

.image {
    display: flex;

    margin-right: 4px;
}

.name {
    
}

.angle {
    display: flex;

    margin-left: 10px;
}