

.button {
    width: 100%;
    line-height: 24px;
    font-weight: 535;
    text-align: center;
    border-radius: 16px;
    outline: none;
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    will-change: transform;
    transition: transform 450ms ease 0s;
    transform: perspective(1px) translateZ(0px);
}


.view {
    &_primary {
        background-color: var(--action);
        font-size: 20px;
        font-weight: 535;
        padding: 16px;
        color: rgb(255, 255, 255);

        &:hover {
            opacity: .8;
        }
        
        &:disabled {
            background-color: var(--container);
            color: rgb(155, 155, 155);
            cursor: auto;
            box-shadow: none;
            border: 1px solid transparent;
            outline: none;
        }
    }
}

.size {
    &_m {

    }
}