
.container {
    width: 100%;
    max-width: 100%;

    background-color: var(--container);

    border-radius: 16px;
    padding: 16px;
}

.title {
    font-size: 18px;
    font-weight: 500;

    color: rgb(255, 255, 255);

    margin-bottom: 10px;
}

.order {
    width: 100%;

    display: flex;
    align-items: center;

    gap: 40px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.time {
    font-size: 14px;

    color: #9b9b9b;
}

.type {
    display: flex;
    align-items: center;

    gap: 8px;

    font-size: 16px;

    color: #fff;

    & span {
        color: #9b9b9b;

    }

}

.token {
    display: flex;
    align-items: center;

    font-size: 14px;
    color: #fff;

    &Symbol {
        margin-left: 4px;
    }
}

.amount {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    color: #fff;
}