html {
    --background: rgb(13, 13, 13);
    --container: rgb(17, 17, 17);
    --action: rgb(148, 148, 255);
}

body {
    background-color: var(--background);

    margin: 0;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    background: transparent;
    width: 4px;
}
*::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 8px;
}