
.image {
    border-radius: 50%;

    &_size {
        &_m {
            width: 36px;
            height: 36px;

            border-radius: 50%;
        }

        &_s {
            width: 24px;
            height: 24px;
        }
    }
}